* {
    box-sizing: border-box;
}

html {
    background: white;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul {
    display: grid;
    border: .5em solid white;
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 20% 1fr 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    height: 100vh;
    margin: 0;
}

li {
    height: 100%;
    border: 4px white;
    background-size: cover;
}

li:nth-child(1) {
    grid-column: 1/-1;
    grid-row: 1/2;
    background-color: yellow;
}

li:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
    background-color: yellow;
}

li:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: yellow;
}

li:nth-child(4) {
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: yellow;
}

li:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: yellow;
}